# Пример .env для docker-compose

# PostgreSQL:
POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_DB=prac
DATABASE_DRIVER=postgres

# Формат логов: dev / json / tskv
LOGGER=tskv

# pgAdmin:
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
