# PostgreSQL:
DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://prac:prac@localhost:5432/prac"

# MongoDB:
# DATABASE_DRIVER="mongodb"
# DATABASE_URL="mongodb://localhost:27017/prac"

# Формат логов: dev / json / tskv
LOGGER="dev"

PORT=3000
DEBUG=*
